# Dhan API Credentials
CLIENT_ID=YOUR_DHAN_CLIENT_ID
ACCESS_TOKEN=YOUR_DHAN_ACCESS_TOKEN
DHAN_API_KEY=YOUR_DHAN_API_KEY
DHAN_API_SECRET=YOUR_DHAN_API_SECRET
WS_URL=wss://api-feed.dhan.co
LOG_LEVEL=INFO
